body {
    font-size: 8px;
	background: grey;
}
table {
	border-collapse: collapse;
}
td {
    text-align: center;
    border: 1px solid red;
    width: 15px;
    height: 15px;
	background: white;
}
.on { background: black }
