body {
  margin: 0px;
  background-color: #ffffff;
}

header {
  height: 20vh;
  background-color: brown;
}

.main {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#left {
  background-color: #f2f2f2;
}


#right {
  background-color: #f2f2f2;
  width: 100;
}
