body {
  font-size: 3px;
	background: grey;
}
table {
	border-collapse: collapse;
}
td {
    text-align: center;
    border: 1px solid red;
    width: 5px;
    height: 5px;
	background: white;
}
.ant:before { content: '☺'; color: grey }
.on { background: black }
